body {
	margin: 0;
	padding: 0;
	background: rgb(255,255,255);
	font-family: 'Noto Sans JP', sans-serif;
}

	.box {
	background: rgb(239,239,239);
	width: 55rem;
	padding: 1rem;
	margin: 1rem auto;
}
